*{
    margin: 0;
    padding: 0;
    box-sizing: border-box0;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    max-width: 1110px;
    padding:0 20px ;
}
.myteam-header {
    background-color: #014E56;
}
.site-navbar {
    padding-top: 73px;
}
.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.important-link {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: Livvic;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    margin-left: 80px;
    /* margin-right: 577px; */
}
.important-link a{
    color: white;
}
.navbar-btn {
    width: 153px;
    padding: 10px 32px;
    background: none;
    border: 2px solid white;
    border-radius: 24px;
    font-family: Livvic;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    cursor: pointer;
}

@media(max-width: 768px) {
    
}

.myteam-section {
    background-color: #014E56;
    height: 417px;
    background-image: url(../photo/Group\ 8.svg);
    background-repeat: no-repeat;
    background-position-y: 217px ;
    background-position-x: 1435px ;
}
.talant {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1110px;
    height: 200px;
    padding-top: 129px;
}
.talant-title {
    font-family: Livvic;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    letter-spacing: 0px;
    color: white;
    width: 350px;
    height: 100px;
}
.talant-info-div{
    max-width: 445px;
    height: 195px;
}
.line{
    width: 50px;
    height: 4px;
    background-color:#F67E7E;
    display: inline-block;
    margin-bottom: 40px;
}
.talant-info {
    width: 445px;
    height: 112px;
    font-family: Livvic;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
}

@media(max-width:768px){
    .talant{
        flex-direction: column;
        text-align: center !important;
        padding-top:112px ;
    }
}
/*  */
.meet-section {
    background-color: #004047;
    height: 1002px;
    background-image: url(../photo/Group\ 8\ \(1\).svg);
    background-repeat: no-repeat;
}
.meet-title {
    font-family: Livvic;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    padding-top: 140px;
    margin-bottom: 64px;
}
.big-meet {
    display: grid;
    grid-template-columns: auto auto auto;
}
.four{
    position: absolute;
    top: 1442px;
    left: 1372px;
}



.some-section {
    background-color: #012F34;
    padding-top: 140px;
    height: 290px;
    background-image: url(../photo/some.svg);
    background-repeat: no-repeat;
}
.some-tile {
    font-family: Livvic;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    margin-bottom: 64px;
}

.ready-section {
    background-color: #F67E7E;
    height: 120px;
    padding-top: 76px;
    background-image: url(../photo/ready.svg);
    background-repeat: no-repeat;
    background-position-y: 52px;
}
.ready-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ready-title {
    font-family: Livvic;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    color: #012F34;
}
.ready-btn {
    width: 153px;
    height: 48px;
    background: none;
    border: 2px solid #012F34;
    font-family: Livvic;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #012F34;
    border-radius: 24px;
}



