*{
    margin: 0;
    padding: 0;
    box-sizing: border-box0;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 1110px;
    padding:0 20px ;
}
.myteam-header {
    background-color: #014E56;
}
.site-navbar {
    padding-top: 73px;
}
.nav-link {
    display: flex;
    align-items: center;
}
.important-link {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: Livvic;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    margin-left: 80px;
    margin-right: 577px;
}
.important-link a{
    color: white;
}
.navbar-btn {
    width: 153px;
    padding: 10px 32px;
    background: none;
    border: 2px solid white;
    border-radius: 24px;
    font-family: Livvic;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
}


.site-main {
}
.myteam-section {
    background-color: #014E56;
    height: 700px;
    background-image:url(../images/faind-tail.svg);
    background-repeat: no-repeat;
    background-position-y: 125px;
}
.talant {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 1110px;
    height: 200px;
    padding-top: 129px;
}
.talant-title {
    font-family: Livvic;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0px;
    color: white;
}
.talant-title-span{
    font-family: Livvic;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0px;
    color: #F67E7E; 
}
.talant-info-div{
    width: 445px;
    height: 195px;
}
.line{
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
    display: inline-block;
}
.talant-info {
    width: 445px;
    height: 112px;
    margin-top: 65px;
    font-family: Livvic;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
}